[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "draft/lib/forge-std"]
	path = draft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
